// @import url(http://fonts.googleapis.com/css?family=Quicksand:400,700|Shadows+Into+Light);
// @import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300);
// @import url(http://fonts.googleapis.com/css?family=Cabin);
// @import url(http://fonts.googleapis.com/css?family=PT+Sans);


$dark-gray: #333;
$medium-gray: #555;
$light-gray: #777;
$super-light-gray: #eee;

$friendly-blue: #38B2CE;

$header-padding: 1.4em;
$section-padding: 40px;

$header-font: 'Raleway';



body {
	// font-family: "Quicksand";
	// font-family: 'Bitter';
	font-family: 'Georgia';
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	// font-family: 'Quicksand';
	font-family: $header-font;
	font-weight: 200;
}



// Shortcut for consistent & responsive spacing of sections
.unit-spacing {
	padding-top: 60px;
	padding-bottom: 60px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

// Shortcut for consistent & responsive spacing
.margin-five {
	margin-left: 5%;
	margin-right: 5%;
}

section {
	// padding-left: 5%;
	// padding-right: 5%;
}

// "CB"/design logo
.logo {
	max-height: 36px;
	margin-top: 9px;
	margin-right: 20px;
	float: left;
}

.gray-link {
	color: $medium-gray;
}

// Inuit.css override
.nav--block{
	letter-spacing: 0;
	word-spacing: 0;
}

// Main navbar styling
#navbar, #scroll-navbar, #palm-navbar {
	text-align: center;
	margin-bottom: 0;
	float: right;

	> li {
		> a {
			padding-left: 1.75em;
			padding-right: 1.75em;

			line-height: 2em;

			color: $dark-gray;
			text-decoration: none;
			font-size: .9em;
			text-transform: uppercase;
			background: transparent;
			font-family: $header-font;

			-webkit-transition: all .15s ease-in-out;
			-moz-transition: all .15s ease-in-out;
			-ms-transition: all .15s ease-in-out;
			-o-transition: all .15s ease-in-out;
			transition: all .15s ease-in-out;

		}

		&:hover {
			background-color: $super-light-gray;
		}
	}


	// Sub menu dropdown styling
	ul {
		list-style:none;
		display: none;
		text-align: left;
		margin: 0;

		a {
			white-space: nowrap;
			display: block;
			padding-top: 1.4em;
			padding-bottom: 1.4em;
			padding-left: 1.75em;
			padding-right: 1.75em;

			text-decoration: none;
			font-size: .9em;
			text-transform: uppercase;
			background-color: $super-light-gray;
			color: $dark-gray;
			font-family: $header-font;

			border-top: 1px solid #f9f9f9; // lighter
			border-bottom: 1px solid #e1e1e1; // darker

		}

		a:hover {
			background-color: $light-gray;
			color: white;
		}

	}

	li:hover ul{ 
		display: block;
		position: absolute;
	}


}

#main-header {
	width: 100%;
	// position: absolute;
	z-index: 1;
	top: 0;
	// background-color:rgba(0,0,0,.2);
	// background-color: #ffffff;

	// background-color:rgba(255,255,255,.2);

	.name {
		// color: $super-light-gray;
	}
}

// #navbar{

// 	> li {

// 		> a {
// 			// color: $super-light-gray;
// 			// color: white;
// 		}

// 		&:hover {
// 			// background-color:rgba(0,0,0,.5);
// 		}

// 	}

// 	ul {

// 		a {
// 			// background-color:rgba(0,0,0,.5);
// 			// color: $super-light-gray;

// 			// border-top: 1px solid rgba(0,0,0,.4); // lighter
// 			// border-bottom: 1px solid rgba(0,0,0,.6); // darker
// 			// background-clip: padding-box;



// 			// background-color: $dark-gray;
// 			// color: $super-light-gray;

// 			// border-top: 1px solid #404040; // lighter
// 			// border-bottom: 1px solid #262626; // darker
// 		}

// 		a:hover {
// 			// background-color:rgba(0,0,0,.6);

// 			// background-color: $light-gray;
// 			// color: white;
// 		}
// 	}

// }


// Scrolling header styling
#scroll-header {
	display: none; 
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	background-color:rgba(255,255,255,.95);
}


#palm-header {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	background-color:rgba(0,0,0,.85);
}

#palm-navbar {
	float: none;

	> li {
		> a {
			color: $super-light-gray;
			padding-left: 1em;
			padding-right: 1em;
		}

		&:hover {
			background-color: $dark-gray;
		}

	}

	// Sub menu dropdown styling
	ul {
		

		a {
			
			background-color: $dark-gray;
			color: $super-light-gray;

			border-top: 1px solid #404040; // lighter
			border-bottom: 1px solid #262626; // darker

		}

		a:hover {
			background-color: $light-gray;
			color: white;
		}

	}
}


.active-nav {
	background-color: $super-light-gray;
}

.name-link {
	text-decoration: none;
	vertical-align: middle;
}

// Name text in the main navbar
.name {

	line-height: 2.1em;
	font-size: 1.7em;
	height: 0;
	padding: 0;
	margin: 0;

	color: $dark-gray;
	// min-width: 200px;
	font-weight: lighter;
	vertical-align: middle;
}

#hero-unit {
	background-position: center bottom;
	background-size: cover;
	background-image: url(../img/rainier.jpg);
	// background-image: url(../img/trees.jpg);
	// position: fixed;
	height: 480px;

	// background:url(ferry.jpg) 50% 0 no-repeat fixed;
	// background:url(images/firstBG.jpg) 50% 0 no-repeat fixed;
}

#hero-text {
	font-size: 1.5em;
	color: white;
	margin-top: 225px;
	margin-right: 10%;
	text-align: center;
}



// Image to go with about text
#me-image {
	width: auto;
	// max-width: 300px;
	// max-width: 240px;
	max-width: 200px;

	margin-left: auto;
	margin-right: auto;

	// margin-left: 5%;
	// margin-right: 5%;
	// margin-right: 2em;

	img {
		border-radius: 50%;

		transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
	}
}


// .portfolio-image {
// 	width: auto;
// 	margin-bottom: 1em;
// }

.project {
	margin-bottom: 4em;
}

.project-image-wrapper {
	width: 100%; 
	margin-left:auto; 
	margin-right: auto;
	margin-bottom: 1.5em;

	a {
		text-decoration: none;
	}
}

.project-image {
	display:inline;
	margin: 0;
	margin-right: -4px;
	padding: 0;
	width: 25%;

	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.project-image:hover {
	box-shadow: 0 0 10px 1px $friendly-blue;
}

#skills-header, #projects-header {
	text-align: right;
}

#skills-list {
	font-family: 'Raleway';
	font-size: 1.25em;
	list-style: none;
	// text-transform: uppercase;
}



// Photography styling

#photography-unit {
	background-position: right bottom;
	background-size: cover;
	background-image: url(../img/sami.jpg);
	// background-color: black;

	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;

	transition-delay: 0.25s;
	padding-top: .5em;
	padding-bottom: .5em;
	// position: fixed;
	// height:450px;

	p {
		margin-top: .5em;
	}

	h4 {
		margin-bottom: .5em;
	}

}

#photography-images {
	text-align: center;
}

#photography-header {
	margin-bottom: .25em;
}

.photo-thumb {
	// width: 60px; 
	// margin-bottom: 1em;

	// width: 100px;
	width: 32%;
	margin: 0;
}

.photo-thumb:hover {
	cursor: pointer;
	// border-color: $friendly-blue;
	box-shadow:0 0 10px 1px $dark-gray;
}

#photography-text {
	padding-top: 1.5em;
	padding-bottom: 2em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	// margin-right: -24px;
	background-color:rgba(0,0,0,.85);
	// background-color:rgba(255,255,255,.85);
	color: white;
}

#flickr-link {

	text-align: center; 
	background-color:rgba(255,255,255,.1);
	padding-top: .9em;
	padding-bottom: .9em;
	display: block;


	color: $friendly-blue;
	text-decoration: none;
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: $header-font;

	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

#flickr-link:hover {
	background-color:rgba(255,255,255,.05);
	color: #ff0083;
}

// End photography styling



// Contact styling

#contact-content {
	text-align: center;
}

#contact-text {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 600px;
}

.contact-label {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .2em;
	width: 100%;
	max-width: 600px;
	// font-size: 1.25em;

	font-family: 'Raleway';
	font-style: italic;
	color: $light-gray;
}

.contact-input {
	width: 100%;
	max-width: 600px;
	margin-bottom: .25em;
}

#contact-message {
	height: 200px;
}

#contact-submit {
	background-color: $friendly-blue;
	// font-family: 'Raleway';
	color: white;
	// font-size: 1.25em;
	margin-top: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	line-height: normal;
	padding-top: 1em;
	padding-bottom: 1em;

	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;

}

#contact-submit:hover {
	background-color: #04819E;
}

.error {
	color: #ce5438;
	font-family: 'Raleway';

	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 600px;
	text-align: left;

}

.success {
	font-family: 'Raleway';
	margin-top: 2em;
	font-size: 2em;
}

input, textarea {
	border:0px solid $super-light-gray;
	padding:5px; 
}

input:focus, textarea:focus { 
	outline: none;
	// border-color: $friendly-blue;
	box-shadow:0 0 10px 1px $friendly-blue;
}

// End contact styling



// Headers and footer styling

.clean-header {
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 2.25em;
}

.clean-subheader {
	font-weight: normal;
	margin-bottom: .5em;
	font-size: 1.75em;
	line-height: 1.25em;
}

.gray {
	background-color: $super-light-gray;
	margin: 0;
}


footer {
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
	color: $medium-gray;
	background-color: $super-light-gray;

	ul {
		li {
			padding: 1em;
			font-size: .9em;
			text-transform: uppercase;

			a {
				text-decoration: none;
				font-family: 'Raleway';
				color: $medium-gray;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}

// End headers and footer styling



// Media queries

@media (min-width: 700px) {

	// If it isn't !important it'll get overidden elsewhere
	#palm-header {
		display: none !important;
	}

}

@media (max-width: 800px) {
	#scroll-navbar {
		li {
			a {
				padding-left: 1.25em;
				padding-right: 1.25em;
			}
		}
	}
}

// When the scrolling navbar doesn't all fit on one line anymore
@media (max-width: 700px) {

	#scroll-header {
		display: none !important;
	}

	// #me-image {
	// 	margin-right: auto;
	// }

	.name {
		font-size: 1.25em;
		line-height: 2.75em;
	}

	#navbar {
		li {
			a {
				padding-left: .5em;
				padding-right: .5em;
			}
		}
	}

	#photography-unit {

		.margin-five {
			// margin-right: auto;
			// margin-left: auto;
			margin: 0;
			padding: 0;
			margin-left: 24px;
		}

		#photography-text {
			margin: 0;

			padding-left: 5%;
			padding-right: 5%;

		}

		.six-tenths {
			display: none;
			width: 0;
		}

		.palm-one-whole {
			width: 100%;
		}
	}

}


@include media-query(palm){ 

	#navbar, #scroll-navbar {
		float: none;
		li {
			a {
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}

	#main-bar {
		margin-left: 0;
		margin-right: 0;
	}

	.name {
		text-align: center;
		font-size: 2.25em;
		line-height: 2.25em;
		height: 1.75em;
	}

	#hero-unit {
		height: 400px;
	}

	#hero-text {
		margin-top: 150px;
		// margin-top: 220px;
		margin-left: 5%;
		margin-right: 5%;
	}

	#photography-unit {
		padding-top: 0;
		padding-bottom: 2em;
	}

	.project-image {
		width: 50%;
	}

	
}